@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Geist', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M10 2.5V0M15 5.5L17 3.5M5 5.5L3 3.5M2.5 10H0M17.5 10H20M5 14.5L3 16.5M15 14.5L17 16.5M10 20V17.5M6 10a4 4 0 108 0 4 4 0 00-8 0z' stroke='rgba(128, 128, 128, 0.1)' fill='none' /%3E%3C/svg%3E");
  background-size: 40px 40px;
  background-position: -50px -10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: 'Geist', sans-serif;
  font-size: 77px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.07em;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #37DE7A;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}